<div class="main main--cart">
  <div data-testid="main.sections" class="main__sections main__sections--space">
    {% section 'cart' %}

    {% section 'cart-product-recommendations' %}
  </div>
</div>
